.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(155, 151, 151);
    min-height: 100vh;
    background-color: rgb(0, 0, 61);
       .top{ 
         
         height: 50px; 
         display: flex;
         justify-content: center;
         align-items: center;

         .logo{
             font-size: 16px;
             font-weight: bold;
              color:blue;
             margin: 3px;
         }
         .logo1{
             font-size: 17px;
             font-weight: bold;
             color: #fff;
         
         }
       }
         hr{
             height: 0;
             border: 0.5px solid rgb(155, 151, 151);

         }
         .center{
              padding-left: 10px;
          ul{
              list-style: none;
               margin: 0; //  you can add         
               padding: 0; //   you can add   
               color: #fff; 
               .title{
                  font-size: 11px;
                  font-weight: bold;
                  color:#fff;
                  margin-top: 15px;
                  margin-bottom: 5px; 
               }  
               li {
                   display: flex;
                   align-items: center;
                   padding: 6px;
                   cursor: pointer;
               

                   &:hover{
                       background-color: #ece8ff;
                   }
                   .icon{
                     font-size: 18px;
                     color: #7451f8;  
                   }
                   span{
                       font-size: 13px;
                       font-weight: 600;
                       color: #888;
                       margin-left: 10px;
                   }
                }
          }
                  

         }
                .bottom {
                    display: flex;
                    align-items: center;
                    margin: 10px;
        
                    .colorOption {
                        width: 20px;
                        height: 20px;
                        border-radius: 5px;
                        border: 1px solid #7451f8;
                        cursor: pointer;
                        margin: 5px;
        
                        &:nth-child(1) {
                            background-color: whitesmoke;
                        }
        
                        &:nth-child(2) {
                            background-color: #333;
                        }
        
                        &:nth-child(3) {
                            background-color: darkblue;
                        }
                    }
                }
}
